
<div class="container">
  <div class="w-full flex justify-center">
    <h1 class="text-6xl text-[#36393b] items-center">Chat Litter</h1>
  </div>
  <div class="w-full flex justify-center">  
    <% if current_user %>
    <h1 class="text-sm text-gray-500">welcome<span class="ml-1 px-1 rounded-sm bg-gray-600 text-[#b7c8b5] lowercase"><%= current_user.username %></span></h1>
  </div>
  <div class="w-full flex justify-center">
    <%= link_to "Sign Out", destroy_user_session_path, class:"mt-48 text-red-800 hover:underline", data: { turbo_method: :delete } %>
  </div>
  <% else %>
  <div class="flex mt-48">
    <%= link_to "Sign Up", new_user_registration_path, class:"px-1 hover:text-[#b7c8b5] hover:bg-gray-600 hover:rounded-sm" %>
    <h1>|</h1> 
    <%= link_to "Sign In", new_user_session_path, class:"px-1 hover:text-[#b7c8b5] hover:bg-gray-600 hover:rounded-sm" %>
  </div>
  <% end %>
</div>
        
