<div id="<%= dom_id room %>">
  <p class="my-2">
    <strong class="block font-medium">Title:</strong>
    <p class="underline pb-3"><%= room.title %></p>
  </p>

  <% if action_name != "show" %>
    <%= link_to "enter room", room, class: "tracking-wide inline-block mr-6 font-medium text-[#3185fc] hover:underline hover:text-[#36393b]" %>
    <%= link_to 'edit room', edit_room_path(room), class: "tracking-wide inline-block font-medium text-[#3185fc] hover:underline hover:text-[#36393b]" %>
    <hr class="mt-6">
  <% end %>
</div>
