<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing room</h1>

  <%= render "form", room: @room %>

  <%= link_to "show room", @room, class: "tracking-wide inline-block mr-6 font-medium text-[#3185fc] hover:underline hover:text-[#36393b]" %>
  <%= link_to "back to rooms", rooms_path, class: "tracking-wide inline-block mr-6 font-medium text-[#3185fc] hover:underline hover:text-[#36393b]" %>
</div>
