<div class="w-full px-8">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between mb-8">
    <h1 class="font-bold text-[#36393b] mr-4 text-4xl">Rooms</h1>
    <%= link_to 'Create a New Room', new_room_path, class: "text-lg text-[#3185fc] px-6 mr-4 hover:underline hover:text-[#36393b]" %>
  </div>
<%= turbo_stream_from "rooms_list" %>
  <div id="rooms" class="min-w-full">
    <%= render @rooms %>
  </div>
</div>
